body {
  margin: 20px;
}

.login-signup-container {
  display: flex;
}

.login-signup-container>div {
  margin: 40px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
}

#nav-bar ul {
  display: flex;
  list-style: none;
}

#nav-bar ul li {
  margin: 0 10px;
}